<html lang="en">
  <head>
    <title>Product Detail</title>
    <%- include('../views/components/head.ejs'); %>
    <style>
      .table img {
        height: 100px;
        object-fit: cover;
      }
      .empty-message {
        text-align: center;
        margin-top: 50px;
      }
    </style>
    <% const { user={} ,authenticated } = auth %>
  </head>
  <body>
    <%- include('../views/components/navbar',{auth:auth}); %> 
    <div class="container">
        <div class="py-3">
          <h1>My Favorite Display</h1>
          <hr />
  
          <%if(cart){%> <%if(cart.product){%>
          <table class="table">
            <thead>
              <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Delete</th>
              </tr>
            </thead>
  
            <tbody>
              <%for(product of cart.product){%>
              <tr>
                <td><img src="<%= product.img %>" /></td>
                <td><%= product.name %></td>
                <td>$<%= product.price %></td>
                <th>
                  <button id="<%=product.productId%>" class="btn btn-danger">Delete</button></th>
                </th>
              </tr>
              <%}%>
            </tbody>
          </table>
  
          <%}%> <%}%>
        </div>
      </div>
    <%- include('../views/components/foot',{auth:auth}); %>
    <script>
        const deleteButtons = [...document.querySelectorAll(".btn-danger")]
        deleteButtons.forEach(btn=>{
          btn.addEventListener('click', async ()=>{
              deleteData(`/api/cart/productId/${btn.id}`)
              location.reload()
          })
        })
      </script>
  </body>
</html>
