<html lang="en">
  <head>
    <title>Product Detail</title>
    <%- include('../views/components/head.ejs'); %>
    <style>
      .success-animation {
        animation: success 1s;
      }

      @keyframes success {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.2);
        }
        100% {
          transform: scale(1);
        }
      }
    </style>
    <% const { user={} ,authenticated } = auth %>
  </head>
  <body>
    <%- include('../views/components/navbar',{auth:auth}); %>

    <div class="container">
      <%if(!product){%> <h1>Product Not Found</h1> <%}%> <%if(product){%>
      <div class="py-3"><h1>Product Detail</h1></div>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <img src="<%= product.img %>" class="img-fluid" alt="Product Image" />
        </div>
        <div class="col-md-6">
          <h2><%= product.name %></h2>
          <p>Price: $<%= product.price %></p>
          <p>Information: <%= product.info %></p>
          <% product.tags = product.tags || [] %>
          <p class="card-text">
            Tags: <%for(tag of product.tags) {%>
            <button class="btn btn-sm btn-warning">#<%=tag%></button>
            <%}%>
          </p>
          <p>Release on: <%= product.date ? new Date(product.date).toDateString() : "" %></p>
          <button class="btn btn-primary">Add to My Favorite</button>
          <% const displayEdit = user.role || "client" %> <%if(displayEdit ==
          "admin") {%>
          <div class="fixed-bottom p-5 text-right">
            <a
              class="btn btn-light border-dark"
              href="/product/id/<%= product.productId %>/edit"
              >Edit</a
            >
          </div>
          <%}%>
        </div>
      </div>
      <%}%>
    </div>
    <%- include('../views/components/foot',{auth:auth}); %>
  </body>
</html>
