<html lang="en">

<head>
  <title>Product Detail</title>
  <%- include('../views/components/head.ejs'); %>
    <style></style>

</head>

<body>
  <%- include('../views/components/navbar',{auth:auth}); %>
    <% var fromAction=!product.productId ? `/product/add` : `/product/id/${product.productId}/edit` %>
      <div class="container">
        <h1>Product Form</h1>
        <hr />
        <form id="editForm" action="" method="POST">
          <%if(action=="add"){%>
          <div class="form-group">
            <label for="ProductId">Product Id:</label>
            <input type="text" class="form-control" id="productId" name="name" value="<%="Product"+Math.floor(Math.random() * 1000000000)%>" required />
          </div>
          <%}%>
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= product.name %>" required />
          </div>

          <div class="form-group">
            <label for="img">Image URL:</label>
            <input type="text" class="form-control" id="img" name="img" value="<%= product.img %>" />
          </div>

          <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" step="0.01" class="form-control" id="price" name="price" value="<%= product.price %>"
              required min="0" />
          </div>
          <div class="form-group">
            <label for="info">Info:</label>
            <textarea class="form-control" id="info" name="info"><%= product.info %></textarea>
          </div>

          <div class="form-group">
            <label for="tags">Tags:</label>
            <small class="text-muted">Example: Tag01,Tag02</samll>
              <input type="text" class="form-control" id="tags" name="tags" value="<%= product.tags %>" />
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <%- include('../views/components/foot',{auth:auth}); %>
        <script>
          document.getElementById('editForm').addEventListener('submit', async function (event) {
            event.preventDefault();

            var form = document.querySelector("form");
            const action = "<%= action %>";
            const url = "<%= url %>";
            var productId = "<%= product.productId %>";
            const name = document.querySelector("#name").value;
            const img = document.querySelector("#img").value;
            const date = "";
            const price = document.querySelector("#price").value;
            const discount = "";
            const info = document.querySelector("#info").value;
            const tags = document.querySelector("#tags").value;
            if(action=='add'){
              productId = document.querySelector("#productId").value;
            }
            try {
              const response = await fetch(url, {
                method: 'POST',
                headers: {
                "Content-Type": "application/json",
              },
                body: JSON.stringify({productId, name, img, date, price, discount, info, tags})
              });
              
              if (response.ok) {
                // Product edited successfully
                window.location.href = `/product`;
                alert('Product edited successfully');
              } else {
                // Error editing product
                var errorData = await response.json();
                console.error(errorData);
                alert('An error occurred while editing the product');
              }
            } catch (error) {
              console.error(error);
              alert('An error occurred while editing the product');
            }
          });
        </script>
</body>

</html>