<html lang="en">
  <head>
    <title>Ststem Users</title>
    <%- include('../views/components/head.ejs'); %>
    <style></style>
  </head>
  <body>
    <%- include('../views/components/navbar',{auth:auth}); %>
    <div class="container">
      <h1>System User Table</h1>
      <div class="container">
      <div class="py-3">
        <hr />
        </div>

        <%if(users){%>
        <table class="table">
          <thead>
            <tr>
              <th>User ID</th>
              <th>Name</th>
              <th>Role</th>
              <th>Phone Number</th>
              <th>Details</th>
            </tr>
          </thead>

          <tbody>
            <%for(user of users){%>
            <tr>
              <td><%=user.userId%></td>
              <td><%=user.name%></td>
              <td><%=user.role%></td>
              <td><%=user.phoneNo%></td>
              <td><a href="user/id/<%=user.userId%>">Detail</a></td>
            </tr>
            <%}%>
          </tbody>
        </table>

        <%}%>
      </div>
    </div>
    </div>
    <%- include('../views/components/foot',{auth:auth}); %>
  </body>
</html>
